<h1>Flickr Photo Display</h1>

<%= form_with method: :get do |form| %>
  <%= form.label :user_id, "Enter Flickr User ID: " %>
  <%= form.text_field :user_id, required: true %>
  <%= form.submit "Display Photos" %>
<% end %><br>

<% unless @photos.nil? %>
  <%= "Displaying photos for Flickr User #{@user_id}"%><br><br>
  <% @photos.each do |photo| %>
    <img src=<%="https://live.staticflickr.com/#{photo.server}/#{photo.id}_#{photo.secret}.jpg"%>>
  <% end %>
<% end %>
